<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header%>
</head>
<body>
    
    <% include partials/Cabecera %>
    <% include partials/NavSol %>
    <div class="main-form-center">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-datos-tab" data-toggle="tab" href="#nav-datos" role="tab" aria-controls="nav-datos" aria-selected="true">Datos Generales</a>
            <a class="nav-item nav-link" id="nav-informacion-tab" data-toggle="tab" href="#nav-informacion" role="tab" aria-controls="nav-informacion" aria-selected="false">Informacion General</a>
            </div>
          </nav>
         
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-datos" role="tabpanel" aria-labelledby="nav-datos-tab">
                <% include partials/DatosGM%>
            </div>
            <div class="tab-pane fade" id="nav-informacion" role="tabpanel" aria-labelledby="nav-informacion-tab">
                <% include partials/infGM%>
            </div>
          </div>
         
          <div class="form-group">
            <input type="submit" name="GuardarM" value="Enviar" class="btn btn-primary">
            <input type="submit" name="GuardarM" onclick="alertSave()" id="GuardarM" value="Guardar" class="btn btn-primary">
          </div>
        </form>
        <!--Terminar formulario de maestria-->
    
        <!--Formulario de doctorado-->
        <form id="Doctorado" method="POST" action="/new-entry2" class="needs-validation" style="display:none;" enctype="multipart/form-data" novalidate>
          <nav>
            <div class="nav nav-tabs" id="nav-tab2" role="tablist">
            <a class="nav-item nav-link active" id="nav-datos-tabD" data-toggle="tab" href="#nav-datosD" role="tab" aria-controls="nav-datosD" aria-selected="true">Datos Generales</a>
            <a class="nav-item nav-link" id="nav-informacion-tabD" data-toggle="tab" href="#nav-informacionD" role="tab" aria-controls="nav-informacionD" aria-selected="false">Informacion General</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent2">
            <div class="tab-pane fade show active" id="nav-datosD" role="tabpanel" aria-labelledby="nav-datos-tabD">
              <% include partials/DatosGD%>
            </div>
            <div class="tab-pane fade" id="nav-informacionD" role="tabpanel" aria-labelledby="nav-informacion-tabD">
              <% include partials/infGD%>
            </div>
          </div>
          <div class="form-group">
            <button name="accion" type="submit" id="EnviarD" value="Enviar" class="btn btn-primary">Enviar</button>
            <button name="accion" type="submit" onclick="alertSave()" id="GuardarD" value="Guardar" class="btn btn-primary">Guardar</button>
            
    
          </div>
        </form>
        <!--Terminar formulario de doctorado-->
      
    
    
    
    
    
    
    
    
    
    
    </div>
   
      <% include partials/Scripts%>
      <% include partials/footer%>
    </body>
    </html>
    
    <script >
    
    function alertSave() {
      alert("Tus datos se guardaron correctamente");
    }
    
    </script>
    </div>
</body>
</html>