<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header%>
</head>
<body>
    <% include partials/Cabecera %>
    <% include partials/NavSol %>

    <div class="main-form-center">
        <nav>
            <div class="nav nav-tabs" id="nav-tab3" role="tablist">
            <a class="nav-item nav-link active" id="nav-datos-tabR" data-toggle="tab" href="#nav-datosR" role="tab" aria-controls="nav-datosR" aria-selected="true">Datos Generales</a>
            <a class="nav-item nav-link" id="nav-informacion-tabR" data-toggle="tab" href="#nav-informacionR" role="tab" aria-controls="nav-informacionR" aria-selected="false">Informacion General</a>
            </div>
        </nav>

          <div class="tab-content" id="nav-tabContent3">
            <div class="tab-pane fade show active" id="nav-datosR" role="tabpanel" aria-labelledby="nav-datos-tabR">
              <% include partials/RevDat%>
            </div>
            <div class="tab-pane fade" id="nav-informacionR" role="tabpanel" aria-labelledby="nav-informacion-tabR">
              <% include partials/RevInfo%>
            </div>
          </div>

          
    </div>

    <% include partials/Scripts%>
</body>
</html>