<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header%>
</head>
<body>
    <% include partials/Cabecera %>


    <div class="main-form-center">
        <nav>
           
        </nav>

          <div class="tab-content" id="nav-tabContent3">
            <div class="tab-pane fade show active" id="nav-datosV" role="tabpanel" aria-labelledby="nav-datos-tabV">
              <% include partials/DatSol%>
              <% include partials/InfoSol%>
            </div>
            <!-- <div class="tab-pane fade" id="nav-informacionV" role="tabpanel" aria-labelledby="nav-informacion-tabV">
          
            </div> -->
          </div>

        <form id="Validacion" action="" method="" class="needs-validation" novalidate>
            <% include partials/Validadores.ejs%>
            <div class="form-group">
                <input id="EnviarV" type="submit" value="Validar" class="btn btn-primary">
            </div>
          </form>
          
    </div>

    <% include partials/Scripts%>
    <script src="js/validated.js"></script>
</body>
</html>