<div class="CuerpoC">
    <div class="flexbox">
        <div class="d-none d-lg-block">
            <img class="imgcicata" src="Recursos/cicata.png" alt="">
        </div>
        <div class="d-none d-lg-block">
        <img class = "imggob" src = "Recursos/pleca-gob.png" alt = "">
        </div>
            <a href = "https://www.ipn.mx/" class>
                <img class="imgpoli" src="Recursos/ipn.png" alt=""> 
                <p class = "d-inline-block titulo_logo">
                Instituto Politecnico Nacional
                <br>
                <span class = "tecnica">"La Técnica al Servicio de la Patria"</span>
                </p>
            </a>
    </div>
</div>