<h4>II. Informacion general</h4>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                            <label for="institucionD">a)Institución donde ha realizado sus estudios de maestria:</label>
                            <input type="text" class="form-control" name="institucionD" placeholder="Ingrese el nombre de la institucion donde realizo sus estudios de maestria" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" required >
                            <div class="invalid-feedback">Ingrese solo letras o espacios (no deje espacios solos)</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                            <label for="graduadoD">b) Graduado:</label>
                            <input type="text" class="form-control" name="graduadoD" placeholder="Ingrese el Graduado que tiene" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" required >
                            <div class="invalid-feedback">Ingrese solo letras o espacios (no deje espacios solos)</div>
                            </div>
                            <div class="form-group col-md-4">
                            <label for="posgradoD">Posgrado:</label>
                            <input type="text" class="form-control" name="posgradoD" placeholder="Ingrese el nombre de su Posgrado" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" required >
                            <div class="invalid-feedback">Ingrese solo letras o espacios (no deje espacios solos)</div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="paisinstD">Pais de la institucion:</label>
                                <input type="text" class="form-control" name="paisinstD" placeholder="Ingrese el pais donde realizo sus estudios" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" required>
                                <div class="invalid-feedback">Ingrese solo letras o espacios (no deje espacios solos)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="experienciaD">c) Experiencia profesional:</label>
                            <textarea class="form-control" name="experienciaD" rows="3" required></textarea>
                            <div class="invalid-feedback">Debe de introducir su experiencia profesional</div>
                        </div>
                        <div class="form-group">
                            <label for="experienciaD">d) Experiencia docente:</label>
                            <textarea class="form-control" name="experienciadD" rows="3" required></textarea>
                            <div class="invalid-feedback">Debe de introducir su experiencia docente.</div>
                        </div>
                        <!--No cambiar-->
                        <div class="form-group" id="div_m">
                            <label for="Pregunta1">e) ¿Has asistido a los cursos propedéuticos de este Departamento anteriormente?</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" onclick="radioClicked2()" value="Opcion1" required>
                                <label class="custom-control-label" for="customControlValidation3">si</label>
                              </div>
                              <div class="custom-control custom-radio mb-3">
                                <input type="radio" class="custom-control-input" id="customControlValidation4" name="radio-stacked" onclick="radioClicked2()" value="Opcion2" required>
                                <label class="custom-control-label" for="customControlValidation4">no</label>
                                <div class="invalid-feedback">Seleccione una opcion</div>
                              </div>
                        </div>
                        <!--No cambiar-->
                        <div class="form-group">
                            <label for="motivo">f) Motivo por el cual deseas ingresar al posgrado:</label>
                            <textarea class="form-control" name="motivoD" rows="3" required></textarea>
                            <div class="invalid-feedback">Debe de escribir su motivo de ingreso</div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label for="linea">A que linea de investigacion deseas ingresar?:</label>
                                <select name="lineaD" class="form-control" required>
                                    <option value="">Seleccione uno...</option>
                                    <option value="DeM">Docencia en matemáticas</option>
                                    <option value="DdlF">Didáctica de la Física</option>
                                    <option value="TICEF">Tecnologías de la Información y la Comunicación en la Enseñanza de la Física.</option>
                                    <option value="FD">Formación Docente</option>
                                </select>
                                <div class="invalid-feedback">Opcion invalida</div>
                            </div>
                        </div>
                        <!--Anexar aqui el archivo-->

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="cvD" accept=".pdf" required>
                            <label class="custom-file-label" for="cvD">Anexe su curriculum vitae</label>
                            <div class="invalid-feedback">Archivo invalido</div>
                          </div>
                        <!--Anexar aqui el archivo-->
                        <div class="form-row">
                            <div class="form-group col-md-2">
                            <label for="fechahoyD">Fecha de hoy:</label>
                            <label  class="form-control" name="fechahoyD" disabled>
                                <script>
                                    var f = new Date();
                                    document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
                                    </script>
                            </label>
                            </div>
                            <div class="form-group col-md-10">
                            <label for="firmaD">Ingrese su firma electronica:</label>
                            <input type="text" class="form-control" name="firmaD">
                            <div class="invalid-feedback">Debe llenar este espacio</div>
                            </div>
                        </div>  