<div class="Grueso">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>CURP del aspirante:</label>
            <input type="text" readonly class="form-control-plaintext" name="CURP" disabled value="AAAAAAAAA">
        </div>
        <div class="form-group col-md-2">
            <label>Estatus de la solicitud:</label>
            <input type="text" id="status" readonly class="form-control-plaintext" name="STATUS" disabled value="AAAAAAAAA">
        </div>
    </div>
    <div class="form-group">
        <label>Comentario Agregado:</label>
        <textarea id="Atxt" readonly class="form-control-plaintext" name="Coment" rows="3" disabled value="UPIITA"></textarea>
    </div>
    <h4>I. Datos generales</h4>
            <div class="form-row">
                <div class="form-group col-md-5">
                <label>Nombre del solicitante:</label>
                <input type="text" readonly class="form-control-plaintext" name="NOM" disabled value="AAAAAAAAA">
                </div>
                <div class="form-group col-md-5">
                    <label>Lugar de nacimiento:</label>
                <input type="text" readonly class="form-control-plaintext" name="LUGAR" disabled value="AAAAAAAAA">
                </div>
                <div class="form-group col-md-2">
                    <label>Fecha de nacimiento:</label>
                    <input type="text" readonly class="form-control-plaintext" name="FECHA" disabled value="AAAAAAAAA">
                </div>
            </div>
            <div class="form-group">
                <label>Direccion del solicitante</label>
                <input type="text" readonly class="form-control-plaintext" name="DIRC" disabled value="AAAAAAAAA">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Numero celular de contacto:</label>
                    <input type="text" readonly class="form-control-plaintext" name="CEL" disabled value="AAAAAAAAA">
                </div>
                <div class="form-group col-md-4">
                    <label>Nacionalidad:</label>
                    <input type="text" readonly class="form-control-plaintext" name="NACI" disabled value="AAAAAAAAA">
                </div>
                <div class="form-group col-md-4">
                    <label>Estado civil:</label>
                <input type="text" readonly class="form-control-plaintext" name="CIV" disabled value="AAAAAAAAA">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Cuenta de correo electronico:</label>
                    <input type="text" readonly class="form-control-plaintext" name="CORREO" disabled value="AAAAAAAAA">
                </div>
                <div class="form-group col-md-3">
                    <label>Cuenta de SKYPE:</label>
                    <input type="text" readonly class="form-control-plaintext" name="SKYPE" disabled value="AAAAAAAAA">
                </div>
            </div>
</div>