<div class="Grueso">
    <h4>II. Informacion general</h4>
    <div class="form-row">
        <div class="form-group col-md-8">
        <label>Institución donde realizo sus estudios el solicitante:</label>
        <input type="text" readonly class="form-control-plaintext" name="Prof_o_Maes" disabled value="UPIITA">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <!--Se cambia el texto dependiendo el formulario-->
            <label>Titulado o Graduado:</label>
            <input type="text" readonly class="form-control-plaintext" name="Titu_o_Grad" disabled value="UPIITA">
        </div>
        <div class="form-group col-md-4">
            <label>Posgrado o Maestria:</label>
            <input type="text" readonly class="form-control-plaintext" name="Pos_o_Maes" disabled value="UPIITA">
        </div>
        <div class="form-group col-md-4">
            <label>Pais de la institucion:</label>
            <input type="text" readonly class="form-control-plaintext" name="EST_PoM" disabled value="UPIITA">
        </div>
    </div>
    <div class="form-group">
        <label>Experiencia Profesional:</label>
        <textarea id="Atxt" readonly class="form-control-plaintext" name="EXPP" rows="3" disabled value="UPIITA"></textarea>
    </div>
    <div class="form-group">
        <label>Experiencia en Docencia:</label>
        <textarea id="Atxt" readonly class="form-control-plaintext" name="EXPD" rows="3" disabled value="UPIITA"></textarea>
    </div>
    <!--Si tomo algun curso prosedeutico que se muestren los años-->
    <div class="form-row">
        <div class="form-group col-md-3">
            <input type="text" readonly class="form-control-plaintext" name="ANIO1" disabled value="1969">
        </div>
        <div class="form-group col-md-3">
            <input type="text" readonly class="form-control-plaintext" name="ANIO2" disabled value="2000">
        </div>
    </div>
    <!--Si tomo algun curso prosedeutico que se muestren los años-->
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Fecha de Envio:</label>
            <input type="text" readonly class="form-control-plaintext" name="FECHAE" disabled value="UPIITA">
        </div>
        <div class="form-group col-md-9">
            <label>Firma Electronica del aspirante:</label>
            <input type="text" readonly class="form-control-plaintext" name="FIRMA" disabled value="UPIITA">
        </div>
    </div>  
</div>