            <Label>Seleccione el formato del formulario: </Label>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="Curso1" name="Curso1" class="custom-control-input" onclick="radioClickedForm()" value="1">
                <label class="custom-control-label" for="Curso1">Doctorado</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="Curso2" name="Curso1" class="custom-control-input" onclick="radioClickedForm()" value="2">
                <label class="custom-control-label" for="Curso2">Maestria</label>
            </div>