<div class="mb-3">
    <label for="validationTextarea">Comentario</label>
    <textarea class="form-control" name="ComentarioD" id="validationTextarea" placeholder="Ingrese algun comentario al solicitante" required></textarea>
    <div class="invalid-feedback">
      Debe darle algun comentario al solicitante.
    </div>
  </div>

  <label for="opcionV">
    Estado de la solicitud: 
  </label>
  <!--  
  <select class="form-select"  name="ValidacionD">
    <option value="Aceptada">Aceptar</option>
    <option value="Rechazada">Rechazar</option>
    <option value="Condicionada">Condicionar</option>
  </select>-->
  <br>

  <div class="form-group col-md-3">
    
    <select name="ValidacionD" class="custom-select" >
        <option value="">Seleccione uno...</option>
        <option value="Aceptada">Aceptar</option>
        <option value="Rechazada">Rechazar</option>
        <option value="Condicionada">Condicionar</option>
    </select>
    <div class="invalid-feedback">Opcion Invalida</div>
</div>