<div class="mb-3">
    <label for="validationTextarea">Comentario</label>
    <textarea class="form-control" id="validationTextarea" placeholder="Ingrese algun comentario al solicitante" required></textarea>
    <div class="invalid-feedback">
      Debe darle algun comentario al solicitante.
    </div>
  </div>

  <label for="opcionV">
    Estado de la solicitud: 
  </label>
  <select class="form-select"  name="opcionV">
    <option value="aceptar">Aceptar</option>
    <option value="rechazar">Rechazar</option>
    <option value="condicionar">Condicionar</option>
  </select>
  <br>
