<div class="mb-3">
    <label for="validationTextarea">Comentario</label>
    <textarea class="form-control" id="validationTextarea" placeholder="Ingrese algun comentario al solicitante" required></textarea>
    <div class="invalid-feedback">
      Debe darle algun comentario al solicitante.
    </div>
  </div>

  <select class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">Aceptar</option>
    <option value="2">Rechazar</option>
    <option value="3">Condicionar</option>
  </select>
  <br>
