<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header%>
</head>
<body>
    <% include partials/Cabecera %>


    <div class="main-form-center">
          <!--Aqui va la parte del JSON-->
        
        <form id="Maestria" action="" method="" class="needs-validation" novalidate>
            <% include partials/Validadores.ejs%>
          </form>
          
    </div>

    <% include partials/Scripts%>
</body>
</html>